body {
	background-color: #ffad33;
	max-width: 900px;
	margin: 0 auto;
}

.d-md-block {
	display: block;
}

.carouselExampleControls {

	margin-bottom: 50px;

}

.carousel-item::after {
content: '';
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
box-shadow: 0px 0px 60px 40px black inset;

}

.carousel-caption {
	text-shadow: 2px 2px #000;
	font-size: 25px;
	font-family: helvetica;
}

.btn-primary, .btn {
	background-color: red;
	border-color: red;
}

.btn-primary:hover {
	background-color: #cc7a00;
	border-color: #e68a00;
}

.jumbotron {
	background-color: red;
	color: white;
}

.burger {

 margin-top: 30px;
 margin-bottom: 30px;

}

.about {
	margin-bottom: 100px;
	margin-top: 100px;
}

h2 {
	margin-bottom: 50px;
}

.question, .contact {
	margin-bottom: 30px;
}

table {
	margin-top: 25px;
	margin-bottom: 100px;
}

.info {
	margin-top: 20px;
	margin-bottom: 20px;
}

h1 {
	padding: 20px;
}

td {
	padding: 10px;
}

th {
	background-color: #ff9900;
}

label {
	margin-top: 15px;
}
